body{
    background:white;
}

section {
    background-color:black;
   margin: 0%;
    height:65px;
    padding: 0%;
    position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   
   
    
}
img{
   width: 50px;
   float: left;
   height: 90%;
   padding: 5px;
  

}
.libreria{
    color: white;
    vertical-align: text-top;
    font-family:sans-serif;
    
    
}
.titulo1{
    text-align: center;
    font-family:sans-serif;
    background-color: white;
    border-radius: 10px;
    color: #005BBB;
    
}
.titulo2{
    text-align: center;
    font-family:sans-serif;
    background-color: white;
    border-radius: 10px;
    color: #005BBB;
}
.centrar1{
   
    text-align: center;
    font-family:sans-serif;



}

.centrar3{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 50%;
    font-family:sans-serif;
    text-align: center;
    background-color:white;
    border-radius: 15px;
    color: #005BBB;
    border-color:#005BBB;
    font-weight:600;
    font-size:18px;
    
}
.btn{
    text-decoration:none;
    font-weight:600;
    font-size:18px;
    color:#ffffff;
    border-radius: 10px;
    background-color:#005BBB;
    border-color: aqua;
    }
    
